.buttonAnimation {
  font-family: inherit;
  font-size: 16px;
  color: white;
  padding: 0.4em 0.8em;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.2s;
  cursor: pointer;
  margin-left: 27%;
  text-decoration: none;
  height: 45px;
}

.buttonAnimation span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

.buttonAnimation svg {
  display: block;
  width: 24px;
  height: 24px;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

.buttonAnimation:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

.buttonAnimation:hover svg {
  transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

.buttonAnimation:hover span {
  transform: translateX(6em);
}

.buttonAnimation:active {
  transform: scale(0.95);
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}

/* COPY BUTTON */

.copyButton {
  font-family: inherit;
  font-size: 16px;
  color: white;
  padding: 0.4em 0.8em;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.2s;
  cursor: pointer;
  margin-left: 27%;
  text-decoration: none;
  height: 45px;
}

.copyButton span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

.copyButton img {
  display: block;
  width: 24px;
  height: 24px;
  transform-origin: center center;
  filter: invert();
  transition: transform 0.3s ease-in-out;
}

.copyButton:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

.copyButton:hover img {
  transform: translateX(2.5em) rotate(45deg) scale(1.1);
}

.copyButton:hover span {
  transform: translateX(6em);
}

.copyButton:active {
  transform: scale(0.95);
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}

/* DOWNLOAD VCF */

.download-button {
  position: relative;
  border-width: 0;
  color: white;
  font-size: 15px;
  font-weight: 600;
  border-radius: 4px;
  z-index: 1;
  cursor: pointer;
}

.download-button .docs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  min-height: 40px;
  padding: 0 10px;
  border-radius: 4px;
  z-index: 1;
  background-color: #242a35;
  border: solid 1px #e8e8e82d;
  transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}

.download-button:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.download {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90%;
  margin: 0 auto;
  z-index: -1;
  border-radius: 4px;
  transform: translateY(0%);
  border: solid 1px #01e0572d;
  transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}

.download-button:hover .download {
  transform: translateY(100%);
}

.download svg polyline,
.download svg line {
  animation: docs 1s infinite;
}

@keyframes docs {
  0% {
    transform: translateY(0%);
  }

  50% {
    transform: translateY(-15%);
  }

  100% {
    transform: translateY(0%);
  }
}

/* INPUT FIELD */

.input {
  border: none;
  border-radius: 15px;
  padding: 15px;
  background-color: #e8e8e8;
  box-shadow: 6px 6px 12px #ffffff, -4px -4px 12px #c5c5c5;
  font-size: medium;
  font-weight: bold;
  height: 40px;
}

.input:focus {
  outline-color: white;
  place-content: 'Enter your message!';
}

/* COPPY BUTTON */

.copy {
  padding: 10px 40px;
  border-radius: 10px;
  border: 0;
  letter-spacing: 1.5px;
  font-size: 15px;
  transition: all 0.3s ease;
  box-shadow: rgb(82, 82, 82) 0px 10px 0px 0px;
  color: hsl(0, 0%, 100%);
  cursor: pointer;
}

.copy:active {
  transform: translateY(5px);
  transition: 200ms;
}
